<section class="home">
  <div class="home__image">
    <img src="/img/userpic.png" [alt]="'home.portraitAlt' | translate">
  </div>

  <div class="home__content">
    <div class="home__headline">
      <h1 class="home__name">{{ 'home.name' | translate }}</h1>

      <div class="home__subtitle-row">
        <span class="home__subtitle-line"></span>
        <h2 class="home__title">{{ 'home.position' | translate }}</h2>
        <span class="home__subtitle-line"></span>
      </div>
    </div>

    <div class="home__description-row">
      <span class="home__description-bar"></span>

      <div class="home__descriptions">
        <p class="home__description">
          {{ 'home.description' | translate }}
        </p>

        <br>

        <p class="home__description">
          {{ 'home.descriptionBis' | translate }}
        </p>
      </div>
    </div>

    <div class="home__languages">
      <app-language-switcher></app-language-switcher>
    </div>
  </div>
</section>
